*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
 height: 70px;
 background-color: blue;
 
}
#logo{
    vertical-align: middle;
    height: 30px;
}
nav li{
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
    margin: 0 10px;
}
.navsx{
    
}  