*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Questrial', sans-serif;
}
header{
 height: 70px;
 width: 100%;
 background-color:white;
 border: 1px solid lightgray; 
 position: fixed;
 z-index: 9999999;
 
}
#logo{
    vertical-align: middle;
    height:25px;
}
nav li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
} 
.navdx {
    display: inline-block;
    position: absolute;
    right: 10px;
    margin-right: 30px;
}
.navsx{
    display: inline-block;
}
.btnheader{
    background-color: #3B85FF;
    width: 70px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.jumbotron{
    height: 700px;
    width: 100%;
    background-color: #B4D0E7;
}
.jumbocontainer{
    padding: 50px;
}
.titolojumbo{
    letter-spacing: -5px;
    margin: 40px 20px;
    font-size: 78px;
    line-height: 100px;
    font-stretch: ultra-condensed;
    font-weight: 800;
}
.textdx{
    width: 30%;
    font-size: 20px;
    line-height: 28px;
    margin-left: 12px;
}
.btn-grande{
    background-color: #3B85FF;
    display: inline-block;
    width: 250px;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
}
.sezannulla{
    font-size: 18px;
}
#freccia{
 font-size: 50px;
 position: relative;
 top: 20px;
 text-decoration: none;
 color: black;
}   
.jumbo-img{
    width: 70%;
    position: relative;
    left: 440px;
    bottom: 430px;
} 
.container{
    margin: 20px auto;
    width: 1170px;
    margin-top: 100px;
}
h3{
    font-size:55px;
}
.fatturare{
    font-size: 20px;
    line-height: 90px;
    margin: 10px;

}

.colonna{
    /* height: 850px;   va tolta */
    width: 32%;
    background-color: white;
    float: left;
    border: 2px solid lightgray;
}
.clearfix::after{
    display: table;
    clear: both;
    content: '';
}
.main{
    margin: 0 20px;
}
.iconcina{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid lightgray;
}
.stato{
    line-height: 40px;
    padding: 40px;
    font-size: 30px;
}
.descrizione{
    display: block;
    padding: 10px 40px;
    line-height: 40px;
}
hr{
    margin-right: 250px;
}
.check li{
    display: block;
}
.check li::before{
    content: "\2713";
    color: blue;
}
.sezione-ori{
    margin-top: 0;
    height: 250px;
    width: 100%;
    border: 2px solid lightgray;
}
.desc-ori{
    float: left;
    font-size: 24px;
    line-height: 50px;
    padding: 30px;
}
.par-ori{
    font-size: 16px;
}
.btn-ori{
    float: right;
    margin-right: 40px;
}
.persone{
    display: inline-block;
    width: 50%;
    vertical-align:top;
}
.descriz{
    display: inline-block;
    width: 40%;
    padding: 60px;
    margin-left: 40px;
    
}
.descriz h3{
    font-size: 30px;
    line-height: 40px;
}
.descriz p{
    font-size: 20px;
}
.btn-bianco{
    background-color: white;
    display: inline-block;
    width: 250px;
    padding: 10px;
    color: black;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid black;
}
.dropbuisness-plus{
    width: 100%;
}
.plus{
    width: 32%;
    float: left;
    display: inline-block;
    padding: 0;
}
.newmain{
    margin: 0 23px;
}
.dimensioni{
    width: 100%;
}

.plus{
    padding: 20px;
}
.plus h3{
    line-height: 35px;
    font-size: 30px;
}
.special{
/* float: left; */
}
.plus p{ 
    line-height: 32px;
    font-size: 18px;
}
.pre-quadrati h4{
    width: 50%;
    font-size: 47px;
}
.pre-quadrati a{
    font-size: 27px;
}
.pre-footer{
    width: 100%;
    
}
.colonna-qua{
    float: left;
    height: 450px;
    width: calc(100% / 3);
}
.quadrati{
    background-color: brown;
    width: 50%;
    height: 50%;
    float: left;
}
.verde{
    background-color: #A2D39B;
}
.porpora{
    background-color: #61082B;
}
.celeste{
    background-color: #0093CE;
}
.rosso{
    background-color: red;
}
.ciano{
    background-color: #B4D0E7;
}
.giallo{
    background-color: #FFD830;
}
.blu{
    background-color: #0D2481;
}
.loghi-quadrati{
    height: 100%;
    width: 100%;
    padding: 70px;
    filter: invert(1);
}
.main-qua img{
    width: 150px;
    margin: 60px 0px 0px 40px ;
}
.main-qua p{
    font-size: 20px;
    line-height: 27px;
    margin: 30px 40px;
}
.sezione-colorata{
    width: 100%;
    height: 300px;
    background-color: #B4D0E7;
    padding-right: 20px;
    position: relative;
}
.nuovo-bianco{
    background-color: white;
    display: inline-block;
    width: 400px;
    padding:10px;
    color: black;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    right:20%;
    top: 35%;
}
.sezione-colorata h4{
    font-size: 45px;
    width: 41%;
    padding-top: 90px;
    padding-left: 10%;
    color: #61082B;
}
.fin h4{
 font-size: 18px;
 line-height: 90px;
 border-bottom: 2px solid lightgray;
 position: relative;
}
.fin h2{
 font-size: 40px;
 line-height: 100px;
 border-bottom: 2px solid lightgray;
}
#freccia{
    position: relative;
    top: -70px;
    left: 90%;
    font-size: 25px;
    font-weight: 600;